<h2>New Admin Application</h2>
    <form (ngSubmit)="submit()" #form="ngForm">
      <label>
        Target User:
        <input name="targetUser" [(ngModel)]="targetUser" required />
      </label>
      <br />
      <label>
        Type:
        <mat-button-toggle-group [(ngModel)]="type" name="type">
          <mat-button-toggle [value]="AppType.MEMBER">Member</mat-button-toggle>
          <mat-button-toggle [value]="AppType.ADMIN" *ngIf="isAdmin()">Admin</mat-button-toggle>
        </mat-button-toggle-group>
      </label>
      <br />
      <button type="submit" [disabled]="form.invalid">Create</button>
      <button type="button" (click)="close()">Cancel</button>
      <div *ngIf="errorMessage" style="color: red; margin-top: 10px;">
    {{ errorMessage }}
   </div>
    </form>